
	<footer class="footer" id="footer">
	<div class="container">
		<div class="col-sm-3 col-lg-3 col-xs-3">
			<h4>微博精彩</h4>
			<ul class="footerl">
				<li><a href="#">热门微博</a></li>
				<li><a href="#">名人堂</a></li>
				<li><a href="#">微博相册</a></li>
				<li><a href="#">微指数</a></li>
			</ul>
			<ul class="footerr">
				<li><a href="#">热门话题</a></li>
				<li><a href="#">微博会员</a></li>
				<li><a href="#">微游戏</a></li>
			</ul>
		</div>
		<div class="col-sm-3 col-lg-3 col-xs-3">
			<h4>手机玩微博</h4>
			<ul class="footerl">
				<img src="/img/footer.png" alt="11">
			</ul>
			<ul class="footerr">
				<li><a href="#">扫码下载，更多版本</a></li>
				<li><a href="#">戳这里</a></li>

			</ul>
		</div>
		<div class="col-sm-3 col-lg-3 col-xs-3">
			<h4>认证&合作</h4>
			<ul class="footerl">
				<li><a href="#">申请认证</a></li>
				<li><a href="#">企业微博</a></li>
				<li><a href="#">微博标识</a></li>
				<li><a href="#">开放平台</a></li>
			</ul>
			<ul class="footerr">
				<li><a href="#">链接网站</a></li>
				<li><a href="#">广告服务</a></li>
				<li><a href="#">广告代理商</a></li>
			</ul>
		</div>
		<div class="col-sm-3 col-lg-3 col-xs-3">
			<h4>微博帮助</h4>
			<ul class="footerl">
				<li><a href="#">常见问题</a></li>
				<li><a href="#">自助服务</a></li>
			</ul>
		</div>
	</div>
	<div class="footerf">
		<ul class="list-inline text-center">
			<li>
				<img src="/img/logo2.gif" alt="11"> <a href="javascript:;">微博客服</a> &#x3000;<a href="javascript:;">客服热线4000-960-960</a>&#x3000;
				<a href="javascript:;">意见反馈</a> &#x3000;<a href="javascript:;">舞弊举报</a> &#x3000;<a href="javascript:;">About Weibo</a> &#x3000;
				<a href="javascript:;">开放平台</a> &#x3000;<a href="javascript:;">微博招聘</a> &#x3000;<a href="javascript:;">新浪网导航</a> &#x3000;
				<a href="javascript:;">举报处理大厅</a>
			</li>
			<li>
				<a href="javascript:;">京ICP证100780号</a> &#x3000;<a href="javascript:;">互联网药品许可证</a> &#x3000;<a href="javascript:;">京网文[2014]2046-296号</a> &#x3000;
				<a href="javascript:;">增值电信业务经营许可证B2-20140447</a> &#x3000;<a href="javascript:;">乙测咨字1111805</a>
			</li>
			<li>
				<a href="">广播电视节目制作经营许可证（京）字号04005号</a> &#x3000;<a href="javascript:;">Copyright@2009-2017 WEIBO 北京微梦创科网络技术有限公司</a> &#x3000;
				<img src="/img/001.jpg" alt=""><a href="javascript:;">京公网安备11000002000019号</a>
			</li>
		</ul>
	</div>
</footer>
	<script src="../js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/getUrlParam.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/info.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/expression.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/ajax.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
