<%- include heard %>
       <div class="index_content">
			<div class="index_content_left panel">

								<ul>
									<li class="active">
										<span class="glyphicon glyphicon-fire"></span>
										<span>热点</span>
									</li>
									<li>
										<span class="glyphicon glyphicon-music"></span>
										<span>音乐</span>
									</li>
									<li>
										<span class="glyphicon glyphicon-film"></span>
										<span>电影</span>
									</li>
									<li>
										<span class="glyphicon glyphicon-camera"></span>
										<span>摄影</span>
									</li>
									<li>
										<span class="glyphicon glyphicon-phone"></span>
										<span>数码</span>
									</li>
									<li>
										<span class="glyphicon glyphicon-plane"></span>
										<span>旅游</span>
									</li>
									<li>
										<span class="glyphicon glyphicon-cutlery"></span>
										<span>美食</span>
									</li>
									<li>
										<span class="glyphicon glyphicon-heart-empty"></span>
										<span>情感</span>
									</li>
									<li>
										<span class="glyphicon glyphicon-star-empty"></span>
										<span>星座</span>
									</li>
									<li>
										<span class="glyphicon glyphicon-option-horizontal"></span>
										<span>其他</span>
									</li>
								</ul>
							</div>
			<div class="index_content_middle">
								<div id="myCarousel" class="carousel slide">
									<ol class="carousel-indicators">
										<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
										<li data-target="#myCarousel" data-slide-to="1"></li>
										<li data-target="#myCarousel" data-slide-to="2"></li>
										<li data-target="#myCarousel" data-slide-to="3"></li>

									</ol>
									<!-- 轮播（Carousel）项目 -->
									<div class="carousel-inner">
										<div class="item active" >
											<img src="/img/1.jpg" alt="First slide">
										</div>
										<div class="item" >
											<img src="/img/5.jpg" alt="Second slide">
										</div>
										<div class="item">
											<img src="/img/6.jpg" alt="Third slide">
										</div>
										<div class="item">
											<img src="/img/7.jpg" alt="Fourth slide">
										</div>


									</div>
									<!-- 轮播（Carousel）导航 -->
									<a class="carousel-control left" href="#myCarousel"
									   data-slide="prev">&lsaquo;</a>
									<a class="carousel-control right" href="#myCarousel"
									   data-slide="next">&rsaquo;</a>
								</div>
								<div class="index_content_single panel">
									<div><img src="/img/source/1.jpg"/></div>
									<div>
										<h3>里约奥运会</h3>
										<p>本周末，里约奥运会就将打响。对于奥运迷来说，这可不是一届轻松的奥运会。
											里约和北京相差11个小时时差，不少精彩的比赛正好被安排在北京时间的凌晨进
										</p>
										<div>
											<div>
												<img src="img/source/16.jpg" class="img-circle"/>
												<a href="#">测试用户</a>
												<a>今天 12：12</a>
											</div>

											<div>
												<span class="glyphicon glyphicon-share">1222</span>
												<span class="glyphicon glyphicon-comment">3123</span>
												<span class="glyphicon glyphicon-thumbs-up">4234</span>
											</div>
										</div>
									</div>

								</div>
								<div class="index_content_single panel">
									<div><img src="/img/source/5.jpg"/></div>
									<div>
										<h3>天生带桃花的面相</h3>
										<p>我们身边总有些朋友，不论性别男女，从小到大桃花运就很好，而且不只是异性缘，
											连同性的友人都会忍不住被吸引。像这样天生带桃花、人缘极佳的面相，几
										</p>
										<div>
											<div>
												<img src="/img/source/16.jpg" class="img-circle"/>
												<a href="#">测试用户</a>
												<a>今天 12：12</a>
											</div>

											<div>
												<span class="glyphicon glyphicon-share">1222</span>
												<span class="glyphicon glyphicon-comment">3123</span>
												<span class="glyphicon glyphicon-thumbs-up">4234</span>
											</div>
										</div>
									</div>
								</div>
								<div class="index_content_single panel">
									<div><img src="/img/source/4.jpg"/></div>
									<div>
										<h3>相爱过的人啊，我们为什么而分手</h3>
										<p>有人说分开是为了更好的相遇，可是在没遇到下一个之前，还是会眼巴巴的祈祷，甚至可以
											原谅他的错，并加倍的去还。爱一个人会让你的世界变小，失恋了
										</p>
										<div>
											<div>
												<img src="/img/source/4.jpg" class="img-circle"/>
												<a href="#">测试用户</a>
												<a>今天 12：12</a>
											</div>

											<div>
												<span class="glyphicon glyphicon-share">1222</span>
												<span class="glyphicon glyphicon-comment">3123</span>
												<span class="glyphicon glyphicon-thumbs-up">4234</span>
											</div>
										</div>
									</div>

								</div>
								<div class="index_content_single panel">
									<div><img src="/img/source/1.jpg"/></div>
									<div>
										<h3>里约奥运会</h3>
										<p>本周末，里约奥运会就将打响。对于奥运迷来说，这可不是一届轻松的奥运会。
											里约和北京相差11个小时时差，不少精彩的比赛正好被安排在北京时间的凌晨进
										</p>
										<div>
											<div>
												<img src="/img/source/16.jpg" class="img-circle"/>
												<a href="#">测试用户</a>
												<a>今天 12：12</a>
											</div>

											<div>
												<span class="glyphicon glyphicon-share">1222</span>
												<span class="glyphicon glyphicon-comment">3123</span>
												<span class="glyphicon glyphicon-thumbs-up">4234</span>
											</div>
										</div>
									</div>

								</div>
								<div class="index_content_single panel">
									<div><img src="/img/source/5.jpg"/></div>
									<div>
										<h3>天生带桃花的面相</h3>
										<p>我们身边总有些朋友，不论性别男女，从小到大桃花运就很好，而且不只是异性缘，
											连同性的友人都会忍不住被吸引。像这样天生带桃花、人缘极佳的面相，几
										</p>
										<div>
											<div>
												<img src="/img/source/16.jpg" class="img-circle"/>
												<a href="#">测试用户</a>
												<a>今天 12：12</a>
											</div>

											<div>
												<span class="glyphicon glyphicon-share">1222</span>
												<span class="glyphicon glyphicon-comment">3123</span>
												<span class="glyphicon glyphicon-thumbs-up">4234</span>
											</div>
										</div>
									</div>
								</div>
								<div class="index_content_single panel">
									<div><img src="/img/source/4.jpg"/></div>
									<div>
										<h3>相爱过的人啊，我们为什么而分手</h3>
										<p>有人说分开是为了更好的相遇，可是在没遇到下一个之前，还是会眼巴巴的祈祷，甚至可以
											原谅他的错，并加倍的去还。爱一个人会让你的世界变小，失恋了
										</p>
										<div>
											<div>
												<img src="/img/source/4.jpg" class="img-circle"/>
												<a href="#">测试用户</a>
												<a>今天 12：12</a>
											</div>

											<div>
												<span class="glyphicon glyphicon-share">1222</span>
												<span class="glyphicon glyphicon-comment">3123</span>
												<span class="glyphicon glyphicon-thumbs-up">4234</span>
											</div>
										</div>
									</div>

								</div>
								<div class="index_content_single panel">
									<div><img src="/img/source/1.jpg"/></div>
									<div>
										<h3>里约奥运会</h3>
										<p>本周末，里约奥运会就将打响。对于奥运迷来说，这可不是一届轻松的奥运会。
											里约和北京相差11个小时时差，不少精彩的比赛正好被安排在北京时间的凌晨进
										</p>
										<div>
											<div>
												<img src="/img/source/16.jpg" class="img-circle"/>
												<a href="#">测试用户</a>
												<a>今天 12：12</a>
											</div>

											<div>
												<span class="glyphicon glyphicon-share">1222</span>
												<span class="glyphicon glyphicon-comment">3123</span>
												<span class="glyphicon glyphicon-thumbs-up">4234</span>
											</div>
										</div>
									</div>

								</div>
								<div class="index_content_single panel">
									<div><img src="/img/source/5.jpg"/></div>
									<div>
										<h3>天生带桃花的面相</h3>
										<p>我们身边总有些朋友，不论性别男女，从小到大桃花运就很好，而且不只是异性缘，
											连同性的友人都会忍不住被吸引。像这样天生带桃花、人缘极佳的面相，几
										</p>
										<div>
											<div>
												<img src="/img/source/16.jpg" class="img-circle"/>
												<a href="#">测试用户</a>
												<a>今天 12：12</a>
											</div>

											<div>
												<span class="glyphicon glyphicon-share">1222</span>
												<span class="glyphicon glyphicon-comment">3123</span>
												<span class="glyphicon glyphicon-thumbs-up">4234</span>
											</div>
										</div>
									</div>
								</div>
								<div class="index_content_single panel">
									<div><img src="/img/source/4.jpg"/></div>
									<div>
										<h3>相爱过的人啊，我们为什么而分手</h3>
										<p>有人说分开是为了更好的相遇，可是在没遇到下一个之前，还是会眼巴巴的祈祷，甚至可以
											原谅他的错，并加倍的去还。爱一个人会让你的世界变小，失恋了
										</p>
										<div>
											<div>
												<img src="/img/source/4.jpg" class="img-circle"/>
												<a href="#">测试用户</a>
												<a>今天 12：12</a>
											</div>

											<div>
												<span class="glyphicon glyphicon-share">1222</span>
												<span class="glyphicon glyphicon-comment">3123</span>
												<span class="glyphicon glyphicon-thumbs-up">4234</span>
											</div>
										</div>
									</div>

								</div>

						</div>
			<div class="index_content_right">
								<div class="index_content_login  panel ">
									<div>
										<label>帐号登录</label>
									</div>

									<div>
										<a href="/login">
											<button type="button" class="btn btn-info">登&nbsp;&nbsp;&nbsp;录</button>
										</a>
										<a href="/register">
											<button type="button" class="btn btn-info">立即注册</button>
										</a>
									</div>
									<div>
										登录状态：游客
									</div>
								</div>
								<di class="index_content_hot panel panel-info">
									<div>
										<label>热门话题</label>
									</div>
									<p><a href="#">#里约奥运会#</a><a>12341</a></p>
									<p><a href="#">#朱丹的锁骨#</a><a>2345</a></p>
									<p><a href="#">#奶奶说脱口秀#</a><a>4562</a></p>
									<p><a href="#">#分手了还能做朋友吗#</a><a>364678</a></p>
									<p><a href="#">#诛仙青云志#</a><a>34567</a></p>
									<p><a href="#">#全民玩幻城#</a><a>2447</a></p>
									<p><a href="#">#要求女生剪短发学生头#</a><a>34523</a></p>
									<p><a href="#">#妈的智障#</a><a>8676</a></p>
									<p><a href="#">#重庆美女吃8斤米饭#</a><a>3464</a></p>
									<p><a href="#">#空中巴士来了#</a><a>3455</a></p>
								</di>
							</div>
	   </div>
<script>
    $(document).ready(function(){
        $('#myCarousel').carousel({interval:2000});//每隔2秒自动轮播
    });
</script>
<%- include footer %>
