<%- include heard %>

		<div class="info_middle panel">
			<div class="info_nav">
				<ul>
					<li>
						<div>个人中心</div>
						<ul>
							<li><a href="/info/fansConcern?value=concern">关注的人</a></li>
							<li><a href="/info/fansConcern?value=fans">我的粉丝</a></li>
							<li><a href="/info/message?value=message">我的消息</a></li>
						</ul>
					</li>
					<li>
						<div>帐户管理</div>
						<ul>
							<li><a href="/info/update?value=userInfo">基本资料</a></li>
							<li><a href="/info/update?value=changePwd">安全设置</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="info_content">
				<iframe scrolling="no"></iframe>
			</div>
		</div>
<%- include footer %>
