<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/home.css"/>
		<link rel="stylesheet" type="text/css" href="/css/info.css"/>
	</head>
	<body>
		<div class="message">
		</div>
		<div class="paging">
			<nav>
			  <ul class="pagination">
			    <!-- <li class="disabled">
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li class="active"><a href="#">1</a></li>
			    <li ><a href="#">2</a></li>

			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li> -->
			  </ul>
			</nav>
		</div>
	<script src="../js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/ajax.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/expression.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
