<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p></p>
    <form  method="post" enctype="multipart/form-data">
    	<input type="text" name="bb">
		  <input type="checkbox" name="aa" id="" value="111" checked="checked"/>
      <input type="checkbox" name="aa" id="" value="222" checked="checked"/>
      <input type="checkbox" name="aa" id="" value="333" checked="checked"/>

    	<input type="submit" id="qq" value="pp"/>
    </form>

  </body>
  <script src="../js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    // $("#qq").on("click",function(){
    //   $.post("../test",function(date){
    //     console.log(date);
    //   })
    //   return false;
    // })
  </script>
</html>